---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astroworld">
	<main class="px-24 max-w-7xl mx-auto w-full max-sm-24">
		<h1 class="text-4xl text-white">Astroworld Blog</h1>
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
	}
</style>
