---
import {Image} from "astro:assets";
---

<section id="hero" class="lg:py-16 flex justify-center items-center text-center">
    <div class="max-w-5xl mx-auto px-6">
        <h1 class="text-7xl text-white font-poppins mb-6"><span class="color-accent font-heading">Elevate Your Tech Game:</span> Where Code, Lifting, and Relaxation Collide</h1>
        <p class="text-2xl text-zinc-300">Exploring the Intersection of Coding tips, Fitness, and Gadgets: Code, Lift and Chill</p>
    </div>
</section>

<style>
    #hero {
        background-image: url('./public/images/noisy-bg2.png');
        background-size: cover;
        background-position: center;
        min-height: 30rem;
    }
</style>
